@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  color: inherit;
  /* 1 */
  height: 0;
  /* 2 */
  overflow: visible;
  /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
nav li::before {
  /* content: "\200B"; */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow: auto;
  /* 3 */
  -ms-overflow-style: scrollbar;
  /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-collapse: collapse;
  /* 1 */
  border-color: inherit;
  /* 2 */
  text-indent: 0;
  /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
  resize: block;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* =====================

  カラー用

===================== */
/* =====================

  装飾用

===================== */
/* =====================

  フォント用

===================== */
/* =====================

  ブレイクポイント用

===================== */
/* =====================

  カラー用

===================== */
/* =====================

  装飾用

===================== */
/* =====================

  フォント用

===================== */
/* =====================

  ブレイクポイント用

===================== */
html {
  text-rendering: optimizeLegibility;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .03em;
  color: #333;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 229, 255, 0.5)), color-stop(20%, rgba(255, 255, 0, 0.5)), color-stop(70%, #ffa600), color-stop(80%, rgba(0, 0, 255, 0.541)));
  background: linear-gradient(to bottom, rgba(0, 229, 255, 0.5), rgba(255, 255, 0, 0.5) 20%, #ffa600 70%, rgba(0, 0, 255, 0.541) 80%);
}

a {
  text-decoration: underline;
  color: #333;
  -webkit-transition: .2s;
  transition: .2s;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
}

img[src*="_pc"] {
  display: block;
  width: 100%;
}

@media screen and (max-width: 599px) {
  img[src*="_pc"] {
    display: none;
  }
}

img[src*="_sp"] {
  display: none;
}

@media screen and (max-width: 599px) {
  img[src*="_sp"] {
    display: block;
    width: 100%;
  }
}

.show-pc {
  display: block !important;
}

@media screen and (max-width: 599px) {
  .show-pc {
    display: none !important;
  }
}

.show-sp {
  display: none !important;
}

@media screen and (max-width: 599px) {
  .show-sp {
    display: block !important;
  }
}

section {
  padding: 64px 3%;
}

@media screen and (max-width: 599px) {
  section {
    padding: 40px 5%;
  }
}

.section-inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.heading h2 {
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: .1em;
  line-height: 1;
}

@media screen and (max-width: 599px) {
  .heading h2 {
    font-size: 3rem;
  }
}

.heading h2 span {
  display: block;
  margin: 8px 0 0 0;
  font-size: 2rem;
  letter-spacing: .08em;
  line-height: 1;
}

@media screen and (max-width: 599px) {
  .heading h2 span {
    font-size: 1.2rem;
  }
}

.contents {
  margin: 40px 0 0 0;
}

@media screen and (max-width: 599px) {
  .contents {
    margin: 24px 0 0 0;
  }
}

.bg-primary-color {
  background-color: #F7F1F0;
}

.button {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  padding: .6em 3em .6em 2.5em;
  background: #333;
  border: 0;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .15em;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .button {
    padding: .6em 3em .6em 2.5em;
  }
}

.button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.8em;
  width: .6em;
  height: .6em;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.button:hover {
  opacity: .8;
}

.button:hover:after {
  right: 1.6em;
}

.obj-fit-img img {
  font-family: "object-fit:cover";
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px 24px 16px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h1 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1;
  margin: 0;
}

.header__logo h1 a {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__logo h1 a:hover {
  opacity: .8;
}

.header__logo-title {
  font-size: 2.8rem;
  font-weight: 900;
}

@media screen and (max-width: 599px) {
  .header__logo-title {
    font-size: 2.4rem;
  }
}

.header__logo-sub {
  margin: 0 0 0 4px;
}

@media screen and (max-width: 599px) {
  .header__logo-sub {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 599px) {
  .header__gnav {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 110;
    opacity: 0;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
  }
}

.header__gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 599px) {
  .header__gnav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 599px) {
  .header__gnav-item {
    width: 100%;
    margin: 80px 0 0 0;
    padding: 24px 0;
    text-align: center;
  }
}

.header__gnav-item + .header__gnav-item {
  margin: 0 0 0 16px;
}

@media screen and (max-width: 599px) {
  .header__gnav-item + .header__gnav-item {
    margin: 0;
  }
}

.header__gnav-item a {
  position: relative;
  font-size: 1.8rem;
  letter-spacing: .1em;
  text-decoration: none;
  padding: 0 .02em;
}

@media screen and (max-width: 599px) {
  .header__gnav-item a {
    display: block;
    font-size: 2.4rem;
    letter-spacing: .15em;
  }
}

.header__gnav-item a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background: #333;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 599px) {
  .header__gnav-item a:before {
    content: none;
  }
}

.header__gnav-item a:hover:before {
  width: 100%;
}

.header .header__hamburger {
  display: none;
}

@media screen and (max-width: 599px) {
  .header .header__hamburger {
    z-index: 100;
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 150;
  }
}

.header .header__hamburger:hover {
  cursor: pointer;
}

.header .header__hamburger > i {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 50%;
  background-color: #333;
  pointer-events: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.header .header__hamburger > i:before, .header .header__hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 50%;
  background-color: #333;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.header .header__hamburger > i:before {
  -webkit-transform: translate(-50%, -12px);
          transform: translate(-50%, -12px);
}

.header .header__hamburger > i:after {
  -webkit-transform: translate(-50%, 12px);
          transform: translate(-50%, 12px);
}

.header .header__hamburger.is-active > i {
  background-color: transparent;
}

.header .header__hamburger.is-active > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .header__hamburger.is-active > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 599px) {
  .header .header__hamburger.is-active ~ .header__gnav {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.footer {
  padding: 20px 5%;
  color: #999;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: .2em;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 24px 5% 24px;
  }
}

.firstview {
  padding: 132px 5% 64px;
  overflow: hidden;
}

@media screen and (max-width: 599px) {
  .firstview {
    padding: 132px 5% 80px;
  }
}

.firstview-bg {
  position: relative;
}

.firstview__inner {
  position: relative;
  margin: 0 auto;
  z-index: 50;
}

.firstview__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 599px) {
  .firstview__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.firstview__main-pict img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 599px) {
  .firstview__main-pict img {
    width: 140px;
    height: 140px;
  }
}

.firstview__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0 auto 100px;
}

@media screen and (max-width: 1024px) {
  .firstview__info {
    margin: auto 0 auto 40px;
  }
}

@media screen and (max-width: 599px) {
  .firstview__info {
    margin: 24px 0 0 0;
  }
}

.firstview__info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: .1em;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .firstview__info h2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 599px) {
  .firstview__info h2 {
    text-align: center;
  }
}

.firstview__info-name {
  font-size: 2.8rem;
  font-weight: 900;
}

@media screen and (max-width: 599px) {
  .firstview__info-name {
    font-size: 2.6rem;
    width: 100%;
  }
}

.firstview__info-name-sm {
  margin: 0 0 0 8px;
  font-size: 1.8rem;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .firstview__info-name-sm {
    width: 100%;
    margin: 8px 0 0 0;
    text-align: left;
  }
}

@media screen and (max-width: 599px) {
  .firstview__info-name-sm {
    text-align: center;
    letter-spacing: .08em;
  }
}

.firstview__info-origin-list {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 599px) {
  .firstview__info-origin-list {
    text-align: center;
  }
}

.firstview__info-origin-item {
  margin: 4px 0 0 0;
  font-weight: 700;
}

.firstview__info-account-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 599px) {
  .firstview__info-account-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.firstview__info-account-item {
  max-width: 60px;
  margin: 4px 0 0 0;
  text-align: center;
}

.firstview__info-account-item + .firstview__info-account-item {
  margin: 0 0 0 20px;
}

@media screen and (max-width: 599px) {
  .firstview__info-account-item + .firstview__info-account-item {
    margin: 0 0 0 16px;
  }
}

.firstview__info-account-item a {
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
}

.firstview__info-account-item a:hover {
  opacity: .8;
}

.firstview__info-account-item a .firstview__info-account-pict {
  max-width: 50px;
}

.firstview__info-account-item a .firstview__info-account-name {
  display: inline-block;
  margin: 4px 0 0 0;
  color: #999;
}

.firstview__point {
  max-width: 640px;
  margin: 32px auto 0;
}

.firstview__point-heading {
  text-align: center;
}

.firstview__point-heading h3 {
  position: relative;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1;
  padding: 0 0 16px 0;
}

.firstview__point-heading h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  display: inline-block;
  width: 50px;
  height: 1px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #333;
  opacity: .5;
}

.firstview__point-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0 0 0;
}

@media screen and (max-width: 599px) {
  .firstview__point-list {
    margin: 16px 0 0 0;
  }
}

.firstview__point-item {
  width: auto;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  text-shadow: 1px 0 0 #F7F1F0, 1px 1px 0 #F7F1F0, 0 1px 0 #F7F1F0, -1px 1px 0 #F7F1F0, -1px 0 0 #F7F1F0, -1px -1px 0 #F7F1F0, 0 -1px 0 #F7F1F0, 1px -1px 0 #F7F1F0;
}

@media screen and (max-width: 599px) {
  .firstview__point-item {
    font-size: 1.8rem;
  }
}

.firstview__point-item + .firstview__point-item {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 599px) {
  .firstview__point-item + .firstview__point-item {
    margin: 8px 0 0 0;
  }
}

.firstview__point-item::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #333;
  position: relative;
  top: -3px;
  margin-right: 10px;
}

.profile__text-area p {
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .08em;
}

.profile__text-area p + p {
  margin: 32px 0 0 0;
}

@media screen and (max-width: 599px) {
  .profile__text-area p + p {
    margin: 16px 0 0 0;
  }
}

.skill__item {
  text-align: center;
}

.skill__item + .skill__item {
  margin: 64px 0 0 0;
}

@media screen and (max-width: 599px) {
  .skill__item + .skill__item {
    margin: 32px 0 0 0;
  }
}

.skill__item h3 {
  padding: 12px 3% 8px;
  background-color: #fff;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

@media screen and (max-width: 599px) {
  .skill__item h3 {
    font-size: 1.8rem;
  }
}

.skill__item h4 {
  margin: 16px 0 0 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

@media screen and (max-width: 599px) {
  .skill__item h4 {
    margin: 20px 0 0 0;
  }
}

.skill__item p {
  margin: 16px 0 0 0;
  line-height: 1.6;
}

@media screen and (max-width: 599px) {
  .skill__item p {
    margin: 12px 0 0 0;
    padding: 0 3%;
    font-size: 1.4rem;
  }
}

.skill__item p + P {
  margin: 4px 0 0 0;
}

.skill__text-area {
  margin: 40px 0 0 0;
}

@media screen and (max-width: 599px) {
  .skill__text-area {
    margin: 24px 0 0 0;
  }
}

.skill__text-area p {
  line-height: 1.6;
}

@media screen and (max-width: 599px) {
  .skill__text-area p {
    font-size: 1.5rem;
  }
}

.skill__text-area p + p {
  margin: 24px 0 0 0;
}

@media screen and (max-width: 599px) {
  .skill__text-area p + p {
    margin: 8px 0 0 0;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  width: calc(1 / 2 * 100% - 35px);
  margin: 0 0 64px 0;
}

@media screen and (max-width: 1024px) {
  .works__item {
    width: calc(1 / 2 * 100% - 20px);
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .works__item {
    width: calc(1 / 2 * 100% - 12px);
  }
}

@media screen and (max-width: 599px) {
  .works__item {
    width: 100%;
    margin: 0;
  }
}

.works__item:nth-child(2n) {
  margin: 0 0 0 70px;
}

@media screen and (max-width: 1024px) {
  .works__item:nth-child(2n) {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .works__item:nth-child(2n) {
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 599px) {
  .works__item + .works__item {
    margin: 48px 0 0 0;
  }
}

.works__item-pict {
  border: 3px solid #333;
  overflow: hidden;
}

.works__item-pict a {
  display: block;
  padding: calc(272 / 365 * 100% / 2);
  background: no-repeat;
  background-size: cover;
  background-position: center;
}

.works__item-pict a img {
  padding: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.works__item-pict a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.works__item-pict a:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.works__item-text-block {
  text-align: center;
  margin: 12px 0 0 0;
  padding: 0 .5em;
}

.works__item-text-block h3 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

@media screen and (max-width: 599px) {
  .works__item-text-block h3 {
    font-size: 2rem;
  }
}

.works__item-text-block p {
  margin: 2px 0 0 0;
  font-size: 1.2rem;
  letter-spacing: .1em;
}

@media screen and (max-width: 599px) {
  .works__item-text-block p {
    font-size: 1.4rem;
  }
}

.works__item-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0 0 0;
}

.p-work-firstview .section-inner {
  padding: 64px 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-firstview .section-inner {
    padding: 80px 0 0;
  }
}

.p-work-firstview h2 {
  padding: 14px 16px 8px;
  background: #F7F1F0;
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: .1em;
}

@media screen and (max-width: 599px) {
  .p-work-firstview h2 {
    font-size: 2.6rem;
  }
}

.p-work-firstview__pict {
  margin: 20px 0 0 0;
  border: 3px solid #333;
}

.p-work-firstview__text-area {
  margin: 24px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .p-work-firstview__text-area {
    margin: 16px 0 0 0;
  }
}

.p-work-firstview__text-area h3 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.6;
}

.p-work-firstview__text {
  margin: 6px 0 0 0;
  line-height: 1.6;
}

.p-work-firstview__text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 8px 0 0 0;
}

.p-work-firstview__text-link:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-firstview-info-github.svg");
  background-size: contain;
  vertical-align: bottom;
  margin: 0 8px 0 0;
}

.p-work-summary__item {
  text-align: center;
}

.p-work-summary__item + .p-work-summary__item {
  margin: 64px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item + .p-work-summary__item {
    margin: 32px 0 0 0;
  }
}

.p-work-summary__item h3 {
  padding: 12px 3% 8px;
  font-size: 2.6rem;
  line-height: 1;
  font-weight: 700;
  background-color: #fff;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item h3 {
    font-size: 2.2rem;
  }
}

.p-work-summary__item h4 {
  margin: 32px 0 0 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item h4 {
    margin: 20px 0 0 0;
    font-size: 2rem;
  }
}

.p-work-summary__item h4 + .p-work-summary__item-table {
  margin: 4px auto 0;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item h4 + .p-work-summary__item-table {
    margin: 8px auto 0;
  }
}

.p-work-summary__item-table {
  width: 100%;
  max-width: 600px;
  margin: 25px auto 0;
}

.p-work-summary__item-table + h4 {
  margin: 40px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-work-summary__item-table tr + tr {
  padding: 15px 0 0;
}

.p-work-summary__item-table th {
  width: calc(1 / 3 * 100%);
  padding: 15px 0 10px;
  border-bottom: 3px solid rgba(51, 51, 51, 0.5);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item-table th {
    width: 100%;
    padding: 0;
    border-bottom: none;
    font-size: 1.8rem;
  }
}

.p-work-summary__item-table td {
  width: calc(2 / 3 * 100%);
  padding: 0 0 0 60px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  font-size: 2rem;
  text-align: left;
}

@media screen and (max-width: 599px) {
  .p-work-summary__item-table td {
    width: 100%;
    padding: 4px 0 8px;
    font-size: 1.6rem;
    text-align: center;
  }
}

.p-work-summary__item-table td a {
  text-decoration-thickness: 1px;
}

.p-work-outline__text p + p {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-outline__text p + p {
    margin: 12px 0 0 0;
  }
}

.p-work-about__item + .p-work-about__item {
  margin: 52px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-about__item + .p-work-about__item {
    margin: 32px 0 0 0;
  }
}

.p-work-about__item h3 {
  padding: 12px 3% 8px;
  background-color: #fff;
  font-size: 2.6rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .p-work-about__item h3 {
    font-size: 1.8rem;
  }
}

.p-work-about__item-block {
  margin: 24px 0 0 0;
  padding: 0 16px 0;
}

@media screen and (max-width: 599px) {
  .p-work-about__item-block {
    margin: 18px 0 0 0;
    padding: 0 8px 0;
  }
}

.p-work-about__item-block-2column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 36px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-about__item-block-2column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-work-about__item-block-pict {
  max-width: 300px;
  width: calc(3 / 11 * 100% + 100px);
}

@media screen and (max-width: 599px) {
  .p-work-about__item-block-pict {
    max-width: 160px;
    width: 100%;
  }
}

.p-work-about__item-block-text {
  width: calc(8 / 11 * 100% - 32px);
  margin: 0 0 0 32px;
}

@media screen and (max-width: 599px) {
  .p-work-about__item-block-text {
    width: 100%;
    margin: 16px 0 0 0;
  }
}

.p-work-about__item-block p {
  line-height: 1.6;
}

.p-work-about__item-block p + p {
  margin: 16px 0 0 0;
}

@media screen and (max-width: 599px) {
  .p-work-about__item-block p + p {
    margin: 8px 0 0 0;
  }
}

.p-work-others__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-work-others__item {
  width: calc(1 / 2 * 100% - 35px);
  margin: 0 0 64px 0;
}

@media screen and (max-width: 1024px) {
  .p-work-others__item {
    width: calc(1 / 2 * 100% - 20px);
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .p-work-others__item {
    width: calc(1 / 2 * 100% - 12px);
  }
}

@media screen and (max-width: 599px) {
  .p-work-others__item {
    width: 100%;
    margin: 0;
  }
}

.p-work-others__item:nth-child(2n) {
  margin: 0 0 0 70px;
}

@media screen and (max-width: 1024px) {
  .p-work-others__item:nth-child(2n) {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .p-work-others__item:nth-child(2n) {
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 599px) {
  .p-work-others__item + .p-work-others__item {
    margin: 48px 0 0 0;
  }
}

.p-work-others__item-pict {
  border: 3px solid #333;
  overflow: hidden;
}

.p-work-others__item-pict a {
  display: block;
  padding: calc(272 / 365 * 100% / 2);
  background: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-work-others__item-pict a img {
  -webkit-transition: .2s;
  transition: .2s;
}

.p-work-others__item-pict a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.p-work-others__item-pict a:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.p-work-others__item-text-block {
  text-align: center;
  margin: 12px 0 0 0;
  padding: 0 .5em;
}

.p-work-others__item-text-block h3 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

@media screen and (max-width: 599px) {
  .p-work-others__item-text-block h3 {
    font-size: 2rem;
  }
}

.p-work-others__item-text-block p {
  margin: 2px 0 0 0;
  font-size: 1.2rem;
  letter-spacing: .1em;
}

@media screen and (max-width: 599px) {
  .p-work-others__item-text-block p {
    font-size: 1.4rem;
  }
}

.p-work-others__item-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0 0 0;
}
/*# sourceMappingURL=style.css.map */