.works {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(1 / 2 * 100% - 35px);
    margin: 0 0 64px 0;

    @include md {
      width: calc(1 / 2 * 100% - 20px);
      margin: 0 0 40px 0;
    }

    @include sm {
      width: calc(1 / 2 * 100% - 12px);
    }

    @include xs {
      width: 100%;
      margin: 0;
    }

    &:nth-child(2n) {
      margin: 0 0 0 70px;

      @include md {
        margin: 0 0 0 40px;
      }

      @include sm {
        margin: 0 0 0 24px;
      }
    }

    & + & {
      @include xs {
        margin: 48px 0 0 0;
      }
    }

    &-pict {
      border: 3px solid $font-color;
      overflow: hidden;

      &:hover {
        border: 3px solid red;
      }

      a {
        display: block;
        padding: calc(272 / 365 * 100% / 2);
        background: no-repeat;
        background-size: cover;
        background-position: center;

        img {
          padding: 100%;
          transition: .2s;
        }

        // &:hover {
        //   transform: scale(1.1,1.1);

        //   img {
        //     transform: scale(1.1,1.1);
        //   }
        // }
      }
    }

    &-text-block {
      text-align: center;
      margin: 12px 0 0 0;
      padding: 0 .5em;

      h3 {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.5;

        @include xs {
          font-size: 2rem;
        }
      }

      p {
        margin: 2px 0 0 0;
        font-size: 1.2rem;
        letter-spacing: .1em;

        @include xs {
          font-size: 1.4rem;
        }
      }
    }

    &-btn-block {
      display: flex;
      justify-content: center;
      margin: 16px 0 0 0;
    }
  }
}

.modal-001__wrap {
  display: inline-block;
  display: block;
  // padding: calc(272 / 365 * 100% / 2);
  background: no-repeat;
  background-size: cover;
  background-position: center;
  // transition: .2s;

  // &:hover {
  //   // transform: scale(1.1,1.1);
  //   // animation: modal-001-animation02 .6s;
  //   // animation-fill-mode: forwards;
  // }
}

// .modal-001__open-input:checked + .modal-001__wrap {
//   transition: unset;

//   &:hover {
//     transform: none;
//   }
// }

// .modal-001__open-input:checked + .works__item-pict-a {
//   transition: unset;

//   &:hover {
//     transform: none;
//   }
// }

.modal-001__wrap input {
  display: none;
}

.modal-001__open-label,
.modal-001__close-label {
  cursor: pointer;
}

.modal-001__open-label {
  display: block;
  background: no-repeat;
  // background-size: cover;
  // background-position: center;
  padding: calc(272 / 365 * 100% / 2);
}

.modal-001 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.modal-001__open-input:checked + label + input + .modal-001 {
  display: block;
  animation: modal-001-animation .6s;
}

.modal-001__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 650px;
  background-color: #fefefe;
  z-index: 2;
  border-radius: 5px;
}

.modal-001__close-label {
  background-color: #777;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  display: table-cell;
  position: fixed;
  top: -15px;
  right: -2%;
  z-index: 99999;
  font-size: 1.4em;
}

.modal-001__content {
  max-height: 50vh;
  overflow-y: auto;
  padding: 39px 45px 40px;
}

.modal-001__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}

@keyframes modal-001-animation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

// @keyframes modal-001-animation02 {
//   0% {
//       scale: 100%;
//   }
//   100% {
//       scale: 110%;
//   }
// }

@media only screen and (max-width: 520px) {
  .modal-001__open-label {
      max-width: 90%;
      padding: .94em 2.1em .94em 2.6em;
  }

  .modal-001__close-label {
      top: -17px;
      right: -4%;
  }

  .modal-001__content-wrap {
      width: 90vw;
  }

  .modal-001__content {
      padding: 33px 21px 35px;
      max-width: 100%;
  }
}

